@charset "UTF-8";


/* ---------------------------------
  リセットと共通・全体設定
------------------------------------ */
*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
    font-size: 62.5%;
}

/* 全体の色・フォント設定 */
body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background: #fff;
	color: #595757;
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
    line-height: 1.6;
    /* font-feature-settings: "palt"; */
    /* letter-spacing: 0.5em; */
}

article,
aside,
footer,
header,
nav,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a,
a:visited {
	color: inherit;
	outline: none;
    text-decoration: none;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

code,
kbd,
pre,
samp {
	font-family: monospace, sans-serif;
	font-size: inherit;
}

ul,
ol {
	list-style: none;
}

table {
	border: 1px solid #eee;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

th,
td {
	border: 1px solid #eee;
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}
/* フォーム系リセット */
input,
textarea {
	-webkit-appearance: none;
	background-image: none;
	border: 1px solid #707070;
	border-radius: 0;
	font-family: inherit;
	font-size: inherit;
	padding: 8px;
}

input:focus,
textarea:focus {
	border: 1px solid transparent;
	box-shadow: none;
	outline: none;
}

/* 共有要素の設定 */
.inner {
	margin: 0 auto;
	max-width: 100%;
	padding: 0  15px;
}

/* ---------------------------------
  #header
------------------------------------ */
#header {

}

#header > .inner {

}

/* ---------------------------------
  #main
------------------------------------ */
#main {

}

#main > .inner {

}

.product-list {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.product-item {
    width: calc(50% - 15px/2);
    box-sizing: content-box;
}
.product-item:nth-of-type(odd) {
    padding-right: 15px;
}



/* ---------------------------------
  タブレット
------------------------------------ */
@media only screen and (max-width: 1040px) {
  .inner {
    /* padding-left: 24px;
    padding-right: 24px; */
  }
}

/* ---------------------------------
  スマホ
------------------------------------ */
@media only screen and (max-width: 767px) {
  .inner {
    /* padding-right: 16px;
    padding-left: 16px; */
  }
}